<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="FoxVoice" connectionString="Data Source=****************************;User ID=***********************;Password=***************"/>
  </connectionStrings>
  <appSettings>
    <add key ="TemplatePath" value="********************************************************"/>
    <add key="InvoiceDefaultDirectoryPath" value="*****************************"/>
  </appSettings>
</configuration>